################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
*.suo
/app/biosphere/BiosphereWebApplication/bin
/app/biosphere/BiosphereWebApplication/obj