<p>
    <button type="button" class="btn btn-primary btn-lg" onclick="$.bstests.runSimpleMapTest()">Run Simple Map Test</button>
</p>
<p>
    <button type="button" class="btn btn-primary btn-lg">Generate CSV map</button>
</p>
<p>
    
</p>

@section Scripts
{
    <script src="~/js/project/bstests.js"></script>
}
