<p>
    <button type="button" class="btn btn-primary" onclick="$.bstests.runSimpleMap()">Run Simple Map Test</button>
</p>
<p>
    <button type="button" class="btn btn-primary" onclick="$.bstests.runAnimalAnimation()">Run Animal Animation Test</button>
</p>
<p>
    <button type="button" class="btn btn-primary" onclick="$.bstests.runBushGrowing()">Run Bush Growing Test</button>
</p>
<p>
    <button type="button" class="btn btn-primary disabled" onclick="">Generate CSV map</button>
</p>
<p>
    <button type="button" class="btn btn-primary disabled" onclick="">Run GUI Test</button>
</p>


@section Scripts
{
    <script src="~/js/project/bstests.js"></script>
}
