<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Biosphere!</h1>
        <p class="lead">This is a game about creating ecosystems.</p>
    </div>
</div>

<div class="m-t-20">
    <button type="button" class="btn btn-primary btn-lg">Create a New World</button>
    <button type="button" class="btn btn-primary btn-lg m-l-10">Open My World</button>
</div>